<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us - Best Cars Dealership</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <!--Navbar -->
    {% include 'static/navbar.html' %}

    <!-- About Us -->
	<section id="about" class="container my-3">
		<h2 class="text-center container my-5">Best Cars Dealership</h2>
        <p> Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices. </p>
        <p> Whether you are looking for a new or used car, we have something for everyone. Our friendly and knowledgeable staff will help you find the perfect car for your needs and budget. We also offer financing options, trade-ins, warranties, and service plans. At Best Cars dealership, we value customer satisfaction and loyalty. That's why we have been in business for over 20 years and have earned a reputation as one of the most trusted car dealerships in the region. Come and see for yourself why we are the best choice for your next car purchase. You won't regret it! </p>
	</section>
</body>
</html>