<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us - Best Cars Dealership</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <!--Navbar -->
    {% include 'static/navbar.html' %}

    <!-- Contact -->
	<section class="container py-5 text-center">
        <h2>Contact Information</h2>
        <ul class="list-unstyled">
            <li>Phone: 831-521-7630 </li>
            <li>Email: info@bestcars.com</li>
        </ul>
    </section>
</body>
</html>